@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Barra de navegacion */
body{
    background-color: #f5d25791;
}
nav{
    background-color: rgb(221, 7, 7);
    color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}
nav a:hover{
    color: black;
    background-color: #ffce1e;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    position: relative;
    width: 20%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.nav-productos__lista{
    position: absolute;
    display: none;
}
.nav-productos__lista li{
    width: 100%;
}
.nav-productos__lista li a{
    display: block;
    padding: 15px;
}
.nav-productos__lista li a:hover{
    background-color: #ffce1e;
}
.menu li:hover .nav-productos__lista{
    display: block;
    width: 100%;
    background-color: rgb(221, 7, 7);
}

/* Imagenes */

img{
    width: 20em;
}

/* Inicio */

.inicio, .nosotros, .body-productos, .contacto{
    position: relative;
    top: 3.6em;
}
.img-principal{
    width: 100%;
}
.titulo-index{
    font-family: 'koulen', cursive;
    font-style: italic;
    font-weight: 200;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    right: 9%;
    color: white;
    text-shadow: 5px 10px 15px #000;
}
.carita-feliz{
    width: 3.8em;
    position: absolute;
    top: 50%;
    right: 3%;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
    border-radius: 100%;
}
.contenido{
    position: relative;
    height: 15em;
    display: flex;
    justify-content: center;
}
.contenido p{
    color: #000;
    margin-top: -5px;
    padding: 2em 2.5em;
    font-size: 1.3em;

}

/* Productos */
.productos-pedidos{
    display: flex;
}
.productos-tipos{
    display: flex;
    flex-wrap: wrap;
}
.productos-tipos__hamburguesas ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}
.productos-tipos__hamburguesas ul li{
    width: 40%;
    padding: 1em;
}

/* Productos: Tabla de pedidos */

tr{
    display: flex;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

/* Formulario contacto */
input{
    text-transform: capitalize;
}
input:focus{
    height: 1.5rem;
}
#email{
    text-transform: none;
}


/* Footer */
footer{
    display: flex;
    background-color: #ffce1e;
    justify-content: space-evenly;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
}
.redes-sociales{
    display: flex;
}
.redes-sociales img{
    padding: 0 10px;
    width: 4em;
}
footer a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}
footer a:hover{
    color: rgb(221, 7, 7);
    background-color: #ffce1e;
}

