@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100&family=Ms+Madi&family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* Barra de navegacion */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(4em, auto);
    justify-items: center;
    align-items: center;
    background-color: #dd0707;
    color: white;
}

.logo_nombre{
    grid-column: 1 / 6;
    font-size: 2.5em;
    font-family: 'Ms Madi', cursive;
    font-weight:500;
}

.btn_menu {
    grid-column: 6 / 8;
    color: white;
    padding: 15px;
    font-size: 2em;
}

.btn_menu a{
    color: white;
}

.menu {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.793); 
}

ul.navigation {
    width: 100%;
    display: none;
    flex-direction: column;
}

ul.navigation.show {
    display: flex;
}

ul.navigation li {
    font-size: 1.2em;
    padding: 15px 20px;
}

ul.navigation li a {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
ul.navigation li:hover {
    background-color: #dd0707;
}


/* Titulos */
h1{
    font-family: 'koulen', cursive;
    font-style: italic;
    font-weight: 200;
    font-size: 2.5em;
    text-align: center;
}

/* Imagenes */

img{
    width: 20em;
    border-radius: 2em;
}
/* Inicio */

.inicio, .nosotros, .body-productos, .contacto{
    position: relative;
    top: 0;
    background-color: beige;
}

/* Inicio */

.img-principal{
    display: none;
}
.img-principal_responsive{
    display: block;
    width: 100%;
    border-radius: 0;
}
.titulo_icono{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 0.8em;
}
    
.carita-feliz{
    width: 4em;
    height: 4em;
    margin-right: 2em;
    margin-left: 1em;
}
   
.inicio__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: rgb(233, 233, 157);
    padding: 3em;
    font-size: 1em;
    text-align: justify;
}
  
.inicio__contenido .p1 {
    margin-bottom: 2em;
    letter-spacing: 2px;
}

/* Productos */
.iconos-productos{
    width: 3em;
}
.lista-productos{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.publicidad{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 3em 0;
    background-color: beige;
}

h2{
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
.img-publi{
    display: block;
    margin: auto;
    width: 40vw;
    padding-bottom: 1em;
}
.card-especial{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chili-burger{
    width: 50%;
}
.nuevas-hamburguesas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}
.card{
    width: 20em;
    margin-left: 3em;
    margin-bottom: 1em;
}
.card h3{
    padding-top: 1em;
}
.btn-agregarCarrito, .btn-enviar{
    padding: 0.5em;
    color: #fff;
    background-color: #0055FF;
    border: 1px solid #0055FF;
    border-radius: 6%;
    margin-top: 1em;
    font-size: 1em;
}


/* Productos: Tabla de pedidos */
/* Carrito */
.carrito{
    text-align: center;
    margin: 2em;
}
.carrito table{
    margin:auto;
    text-align: center;
}
/* tr{
    display: flex;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 25px;
} */
/* Nosotros */
.nosotros{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 0;
}
.nosotros__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.txt-nosotros{
    padding-top: 2em;
    line-height: 1.5em;
}
.img-nosotros{
    width: 90%;
    padding-bottom: 2em;
}

/* Contacto */

section.contacto{
    width: 100%;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 4em;
}
form ul li{
    padding: 0.5em;
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

input{
    text-transform: capitalize;
    width: 60%;
    height: 3em;
}
input:focus{
    height: 4em;
}
.email{
    text-transform: none;
}
textarea{
    width: 60%;
    height: 5em;
}
.segurity-code{
    display: flex;
    align-items: center;
    justify-content: center;
}
.code{
    border: 1px solid #000;
    padding: 0.5em;
    width: 60%;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    user-select: none;
}
.input-captcha{
    text-transform: none;
}
.btn-validar{
    font-size: 1em;
}
.val{
    border: 1px solid #000;
    padding: 0.5em;
    margin: auto;
    margin-top: 1em;
    display: none;
    font-size: 1em;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 5px 5px #000;
}
.rojo{
    background-color: #dd0707;
    width: 15em;
}
.verde{
    background-color: rgb(0, 244, 28);
    width: 10em;
} 
/* Footer */

footer{
    display: flex;
    background-color: #ffce1e;
    justify-content: space-evenly;
    padding: 15px;
    width: 100%;
    align-items: center;
    position: relative;
}
.redes-sociales{
    display: flex;
}
.redes-sociales img{
    padding: 0 10px;
    width: 4em;
}

footer h3, footer a{
    display: none;
}


@media screen and (min-width:800px){

    /* Barra de navegacion */
    nav{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        position: fixed;
        z-index: 100;
        width: 100%;
        align-items: center;
        justify-items: center;
        background-color: #dd0707;
    }
    .logo{
        display: block;
        grid-column: 2 / 4;
    }
    .logo_nombre{
        font-size: 2em;
        font-family: 'Ms Madi', cursive;
    }
    .logo_nombre:hover{
        cursor: pointer;
    }
    .btn_menu {
        display: none;
    }
    .menu{
        grid-column: 4 / 8;
        background-color: #dd0707;
    }
    ul.navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    ul.navigation a{
        font-size: 0.7em;
    }
    ul.navigation a:hover{
        background-color: #ffce1e;
        padding: 0.8em;
        color: rgba(0, 0, 0, 0.793);
        border: 1px solid #ffce1e;
        border-radius: 10%;
    }
    /* Posicion de body */
    .inicio, .nosotros, .body-productos, .contacto{
        top: 3em;
    }

    /* Inicio */
    .img-principal_responsive{
        display: none;
    }
    .img-principal{
        display: block;
        width: 100%;
        border-radius: 0;
    }
    .titulo_icono{
        padding: 1em;
    }
    .inicio__contenido{
        font-size: 1.2em;
        padding: 3em 5em;
        margin-bottom: 2.5em;
    }

    /* Productos */
    .publicidad{
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin: 3em;
        background-color: beige;
    }
    
    /* Nosotros */
    .nosotros{
        flex-direction: row;
        padding: 1.5em 3em 4em;
    }
    .nosotros__contenido{
        padding: 2em 4em 5em 2em;
    }
    .img-nosotros{
        width: 45%;
    }

    /* Contacto */
    .contacto ul li {
        font-size: 1em;
    }
    input{
        text-transform: capitalize;
        width: 60%;
        height: 2em;
    }
    input:focus{
        height: 3em;
    }

    /* Footer */
    footer h3{
        display: block;
    }
    footer a{
        display: block;
        color: #000;
        font-size: 1.2em;
    }
    footer a:hover{
        color: rgb(221, 7, 7);
        background-color: #ffce1e;
    }
}
