@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100&family=Ms+Madi&family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
/* Barra de navegacion */

nav{
    display: flex;
    background-color: rgb(221, 7, 7);
    color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: center;
}
nav a{
    color: white;  
    display: block;
    padding: 20px 25px;
}
nav a:hover{
    color: black;
    background-color: #ffce1e;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.menu li{
    position: relative;
    width: 20%;
    text-align: center;
}
.nav-productos__lista{
    position: absolute;
    display: none;
}
.nav-productos__lista li{
    width: 100%;
}
.nav-productos__lista li a{
    display: block;
    padding: 15px;
}
.nav-productos__lista li a:hover{
    background-color: #ffce1e;
}
.menu li:hover .nav-productos__lista{
    display: block;
    width: 100%;
    background-color: #dd0707;
}
.logo{
    display: inline-block;
}
.logo a{
    font-size: 2.2em;
    color: #FFF;
    font-family: 'Ms Madi', cursive;
    padding: 0.3em;
}
.btn_menu{
    display: none;
}
/* Titulos */
h1{
    font-family: 'koulen', cursive;
    font-style: italic;
    font-weight: 200;
    font-size: 2.5em;
    text-align: center;
}

/* Imagenes */

img{
    width: 20em;
    border-radius: 2em;
}
/* Inicio */

.inicio, .nosotros, .body-productos, .contacto{
    position: relative;
    top: 3.6em;
    background-color: beige;
}
.img-principal{
    width: 100%;
    border-radius: 0;
}
.titulo_icono{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.carita-feliz{
    width: 4em;
    height: 4em;
    margin-left: 2em;
}
.inicio__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: rgb(233, 233, 157);
    /* background-color: #ffdb58; */
    font-size: 1.2em;
    padding: 3em 5em;
    margin-bottom: 2.5em;
} 

/* Productos */
.iconos-productos{
    width: 3em;
}
.lista-productos{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.publicidad{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 3em 0;
    background-color: beige;
}
h2{
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
.img-publi{
    display: block;
    margin: auto;
    width: 40vw;
    padding-bottom: 1em;
}
.card-especial{
    width: 30em;
}
.nuevas-hamburguesas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}
.card{
    width: 20em;
    margin-left: 3em;
    margin-bottom: 1em;
}
.card h3{
    padding-top: 1em;
}
.btn-agregarCarrito, .btn-enviar{
    padding: 0.5em;
    color: #fff;
    background-color: #0055FF;
    border: 1px solid #0055FF;
    border-radius: 6%;
    margin-top: 1em;
    font-size: 1em;
}
.carrito{
    text-align: center;
}
.carrito table{
    margin:auto;
    text-align: center;
}
.carrito h3{
    display: inline;
}
/* Productos: Tabla de pedidos */

tr{
    display: flex;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 25px;
}

/* Nosotros */
.nosotros{
    position: relative;
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 1.5em 3em 4em;
}
.nosotros__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em 5em 2em;
}
.txt-nosotros{
    padding-top: 2em;
    line-height: 1.5em;
}
.img-nosotros{
    width: 45%;
}

/* Formulario contacto */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 4em;
}
form ul li{
    padding: 0.5em;
}
input{
    text-transform: capitalize;
}
input:focus{
    height: 1.5rem;
}
.email{
    text-transform: none;
}
.segurity-code{
    display: flex;
    align-items: center;
    justify-content: center;
}
.code{
    border: 1px solid #000;
    padding: 0.5em;
    width: 40%;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    user-select: none;
}
.input-captcha{
    text-transform: none;
}
.val{
    border: 1px solid #000;
    padding: 0.5em;
    margin: auto;
    margin-top: 1em;
    display: none;
    font-size: 1em;
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 5px 5px #000;
}
.rojo{
    background-color: #dd0707;
    width: 15em;
}
.verde{
    background-color: rgb(0, 244, 28);
    width: 10em;
}
/* Footer */
footer{
    display: flex;
    background-color: #ffce1e;
    justify-content: space-evenly;
    padding: 15px;
    width: 100%;
    align-items: center;
    position: relative;
}
.redes-sociales{
    display: flex;
}
.redes-sociales img{
    padding: 0 10px;
    width: 4em;
}
footer a{
    color: #000;
    font-size: 1.2em;
}
footer a:hover{
    color: rgb(221, 7, 7);
    background-color: #ffce1e;
}
@media screen and (max-width:768px){
    .container-cards{
        justify-content:space-evenly;
        padding: 0;
    }
    section{
        padding: 2em 0 4em 0;
        width: 50%;
        border: 1px solid #000;
    }
    form ul li{
        padding-bottom: 1.5em;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding-right: 3em;
        padding-left: 3em;
    }
    .menu{
        position: fixed;
        top: -100vh;
        width: 100vw;
        flex-direction: column;
        background-color: rgb(221, 7, 7);
    }
    .btn_menu{
        display: flex;
        align-items: center;
        font-size: 2.5em;
        color: #FFF;
    }
}
@media screen and (max-width: 480px){
    .btn_menu{
        display: inline-block;
    }
}